htbl :rows=@header.rows :opts=@header.opts :total="false"
hr

htbl ctl="members_allocations" :rows=@assigns.rows :opts=@assigns.opts
hr

= link_to "要員アサイン", project_members_path(@project), class: "btn btn-primary"
