.row
  .col-xs-2
    wbtn member="bob"
/ .row
/   .col-xs-2 v-for="col in 6"
/     .dropdown v-for="member in members | limitBy 5 col*5"
/       / button.btn.btn-block.dropdown-toggle#menu1 type="button" data-toggle="dropdown" area-haspopup="true" area-expanded="true" :class="state"
/       /   h4 v-text="member.name"
/       /   small 在籍
/       hr

/       ul.dropdown-menu area-labelledby="menu1"
/         li: a href="#" @click="handleClick('btn-default')" default
/         li: a href="#" @click="handleClick('btn-primary')" primary
/         li: a href="#" @click="handleClick('btn-success')" success
/         li: a href="#" @click="handleClick('btn-info')" info
/         li: a href="#" @click="handleClick('btn-warning')" warning
/         li: a href="#" @click="handleClick('btn-danger')" danger


