h1 グループ別要員数

grouptab {
  :groups=@groups.to_json
  :current=@group.to_json
  path="works"
}

h2 sofia

htbl {
  ctl="works"
  :rows=Htbl::MembersBuilder.works(@sofia_members)
  :opts=Htbl::MembersBuilder.htbl_options
}

hr

h2 BP

htbl {
  ctl="works"
  :rows=Htbl::MembersBuilder.works(@bp_members)
  :opts=Htbl::MembersBuilder.htbl_options
}

