h1 要員数

h2 admin

htbl {
  ctl="works"
  :rows=Htbl::MembersBuilder.works(@admin_members)
  :opts=Htbl::MembersBuilder.htbl_options
}

hr

h2 sofia

htbl {
  ctl="works"
  :rows=Htbl::MembersBuilder.works(@sofia_members)
  :opts=Htbl::MembersBuilder.htbl_options
}

hr

h2 BP

htbl {
  ctl="works"
  :rows=Htbl::MembersBuilder.works(@bp_members)
  :opts=Htbl::MembersBuilder.htbl_options
}

