#app v-text="message"

- message = "hello ruby to coffee"

javascript:
  document.message = #{message.to_json}

coffee:
  $ ->
    new Vue
      el: "#app"
      data:
        message: document.message
