.page-header
  h3
    = @job_title.name
    small = @group.name

h5 要員
htbl ctl="works" :rows=@works.rows :opts=@works.opts
hr

h5 アサイン
htbl :rows=@assigns.rows :opts=@assigns.opts
hr

h5 案件
htbl :rows=@allocs.rows :opts=@allocs.opts
