.page-header
  h3
    = @job_title.name
    small = @group.name

h5 要員
htbl {
  ctl="works"
  :rows=Htbl::MembersBuilder.works(@members)
  :opts=Htbl::MembersBuilder.htbl_options
}

hr

h5 アサイン
htbl {
  :rows=Htbl::MembersBuilder.allocs(@members)
  :opts=Htbl::MembersBuilder.htbl_options
}

hr

h5 案件
htbl {
  :rows=Htbl::ProjectsBuilder.allocs(@projects)
  :opts=Htbl::ProjectsBuilder.htbl_options
}
