.page-header
  h3
    = @job_title.name
    small = @group.name

h5 要員
htbl ctl="works" :rows=@members_works.works_rows :opts=@members_htbl_options
hr

h5 アサイン
htbl :rows=@members_allocs.allocs_rows :opts=@members_htbl_options
hr

h5 案件
htbl :rows=@projects.allocs_rows :opts=@projects_htbl_options
