htbl :rows=@header.rows :opts=@header.opts :total="false"
hr

htbl ctl="members_projects_months" :rows=@assigns.rows :opts=@assigns.opts
hr

= link_to "案件アサイン", member_projects_path(@member), class: "btn btn-primary"
