htbl ctl="members" :rows=@members[:records].to_json :opts=@members[:options].to_json
hr

htbl ctl="members_projects_months" :rows=@members_projects_months[:records].to_json :opts=@members_projects_months[:options].to_json
hr

= link_to "案件アサイン", member_projects_path(@member), class: "btn btn-primary"
